body {
 text-align: center;
 background-color:rgb(96, 94, 94);
}
.box{
   width: 28%;
   height: 500px;
   margin: auto;
  padding-top: 30px;
  margin-top: 70px;
  border-radius: 20px;
  box-shadow: 4px 4px 16px rgb(32, 32, 32);
  color: white;
  background-color: rgb(128, 126, 126);
}
.box div{
   border-radius: 20px;
   padding-top: 30px;
   border: 1px solid black;
    width: 70%;
    margin: auto;
    margin-top: 60px;
    height: 58%;
    color: white;
} 
.box button{
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgb(66, 65, 65);
  width: 70px;
  height: 28px;
  background-color: rgb(218, 218, 215);
}
h3 {
 margin-top: 20px;
}