
body{
  background-color: rgb(110, 46, 170);
  background-image: linear-gradient(rgb(164, 164, 164), rgb(216, 214, 214), rgb(155, 48, 179));
  height: 100vh;
}
  form{
    width:24%;
    height: 460px;
    margin: auto;
    margin-top: 100px;
    border: 2px solid black;
    background-image: linear-gradient(rgb(192, 78, 209),rgb(248, 243, 249));
    border-radius: 20px;
    padding: 20px;
    box-shadow: 6px 8px 12px  rgb(59, 59, 59);
}
form input{
   display: flex;
   width: 60%;
   height: 10%;
   margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 6px 6px 12px  rgb(140, 60, 216);
  
}
form button{
    width: 75px;
    height: 27px;
    padding: 6px;
   border-radius: 10px;
    justify-content: center;
    display: flex;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(249, 248, 251);
  box-shadow: 2px 2px 20px rgb(255, 254, 254);
  border: 0px;
}
div{
    width: 70%;
    height: 40%;
   background-color: azure;
   border: 2px solid purple;
   margin: auto;
   margin-top: 40px;
   text-align: center;
   border-radius: 20px;
   padding-top: 20px;
}
