body{
  font-size: 17px;  
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../asset/bg.jpg);
  background-size: cover;
}
.whole{
    margin: auto;
    margin-top: 140px;
    width: 23vw;
    height: 55vh;
    border: 1px solid white;
    color:white;
    border-radius: 30px;
    backdrop-filter: blur(30px);
    box-shadow: 1px 1px 8px rgb(37, 37, 37);
}
@media (max-width:1300px) {
   .whole{
    width: 36vw;
    height:60vh;
   }
}
@media (max-width:750px) {
    .whole{
     width: 86vw;
     height:60vh;
    }
 }
h2{
    font-size: 42px;
    margin: auto;
    text-align: center;
    margin-top: 32px;
} 
.hint {
    width: 100%;
    background-color: none;
   color: white;
    margin: auto;
    text-align: center;
    margin-top: 12px;
}
.boxes{
 display: flex;
 justify-content: center;
 margin-top: 40px;
}
.box{
    width: 100px;
    height: 100px;
    border: 4px solid rgb(13, 13, 13);
    border-radius: 20px;
    text-align: center;
    margin: 1rem;
}
.red{
    background-color: rgb(160, 3, 3);
}
.green{
    background-color: rgb(60, 180, 4);
}
.blue{
    background-color: rgb(5, 132, 196);
}
.purple{
    background-color: rgb(132, 4, 183);
}
.flash{
    background-color: white;
    border: 4px solid rgb(253, 253, 253);
    box-shadow: 2px 2px 8px black;
}
.press{
    /* background-color: white; */
    box-shadow: 2px 2px 26px rgb(252, 252, 252);
}
.level{
    width: 60%;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}